.NavList{
  display: flex;
  padding: 20px 30px;
  border: 2px solid green;
  list-style: none;
}

.NavItem{
  margin-right: 16px;
}

.NavItem:last-child{
  margin-right: 0;
}

.NavLink{
  color: currentColor;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.NavLinkActive{
  border-top: 1px solid limegreen;
  border-bottom: 1px solid limegreen;
  color: limegreen;
}

.Movies{
  padding: 20px 30px;
}

.MoviesTitle{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  color: green;
}

.MoviesList{
  padding-left: 40px;
  list-style:circle;
}

.MoviesItem{
  margin-bottom: 4px;
}

.MoviesLink{
  color: currentColor;
  text-decoration: none;
}

.MoviesItem:hover, .MoviesLink:hover{
  color: limegreen;
}

.MovieDetails{
  display: flex;
}

.MovieDetailsImg{
  width: 260px;
}

.MovieDetailsContent{
  padding-left: 20px;
}

.MovieDetailsGenresList{
  display: inline-flex;
  list-style: none;
}

.MovieDetailsGenresList > li{
  margin-right: 6px;
}

.MovieDetailsInfo{
  padding: 20px 30px;
  border: 2px solid green;
}

.MovieDetailsInfo p{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.MovieDetailsInfo ul{
  list-style: none;
}

.MovieDetailsInfo li{
  margin-bottom: 6px;
  font-size: 20px;
}

.BackBtn{
  width: 60px;
  margin: 10px 28px;
  padding: 5px 0;
  border-radius: 50px;
  background-color: limegreen;
}



